<div class="single-notification">
    <div><img src="{{this.notificationToShow.image}}"></div>
    <div >
        <div class="id">{{notificationToShow.id}}</div>
        <div class="title">{{notificationToShow.title}}</div>
        <div class="text">{{notificationToShow.text}}</div>
        <div class="requirement">{{notificationToShow.requirement}}</div>
        <a class="link" href="{{notificationToShow.link}}">
        {{notificationToShow.link}}
        </a>
    </div>
</div>