/* .single-notification{
    background-color: white;
} */
img{
    width:1rem;
}
.single-notification{
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    background: white;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
