/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.ng-tns-c36-0{
    background: white;
}
.div-image ng-tns-c36-0{
    height:0.9rem !important;
    padding: 0px !important;
}