.notification-header{
    background-color: #0E9172;
    margin:0px;
}
.all-notifications{
    background-color: white;
}
.mat-menu{
    padding-top: 0px !important;
    padding-bottom:0px !important; 
}
.img-triangle{
    background: white;
    height: 0.9rem;
    padding-bottom: 0px;
    padding-top: 0px;
}
.div-image{
    background:white;
    padding-bottom: 0px;
    height:0.9rem;
}
.all-notifications{
    background: white;
}
.ring-button{
    height: 0.5rem;
}
.createNotification{
    float: right;
}
.updateNotification{
    float: right;
}