


<p></p>
<div class="ring-button">
    <button mat-raised-button color="primary" matBadge="{{this.notificationCount}}" matBadgePosition="above after" matBadgeColor="warn"
        [matMenuTriggerFor]="belowMenu" >
        <mat-icon  class="material-icons">
            notifications_active
        </mat-icon>
        
        
    </button>
</div>

<mat-menu #belowMenu="matMenu" class="all-notifications">
    <div class="div-image">
        <img class="img-triangle" src="https://cdn.discordapp.com/attachments/621075926993600545/678687476809990165/triangle.png">
    </div>
    <div >
        <mat-card-header >
            <p class="notification-header">
                Notifications
            </p>
        </mat-card-header>
        <div  class="all-notifications">
            <app-notification-info *ngFor="let notification of notificationAll" [notification]="notification" (removeEmit)="removeNotificationAfterExpiration($event)"></app-notification-info>
        </div>
    </div>
</mat-menu>

<button class="createNotification">
    <div (click)= 'onClick()' >Create Notification</div>
</button>
<button class="updateNotification">
    <div (click)= 'onClickUpdate()' >Update Notification</div>
</button>
